---
// Importa el componente React desde un archivo separado
import ResizableExample from './ResizableExample.jsx';
---

<div class="w-full p-2 mb-12" style="height: 1000px;">
  <ResizableExample client:visible />
</div>