---
// Importa el componente React desde un archivo separado
import ResizableExample from './ResizableExample.jsx';
---

<div class="w-full p-2 mb-4 sm:mb-8 lg:mb-12 min-h-screen lg:h-auto">
  <ResizableExample client:visible />
</div>
